body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    margin-top: 20px;
}

.game-field{
    margin: 30px auto;
    width: 80vw;
    height: 70vh;
    border: 3px solid black;
    position: relative;
    background-image: url(12.webp)
}

.target{
    font-size: 0px;
    background-image: url(23.png);
    width: 60px;
    height: 60px;
    border-radius: 25px;
    position: absolute;
    top: 48%;
    right: 54%;
    cursor: pointer;
}

.game-over{
    position: absolute;
    width: 300px;
    height: 54px;
    right: 38%;
    top: 45%;
    z-index: 99;
    background-color: black;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}

.vissibile{
    opacity: 0;
}

.buttons-css{
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}
.buttons-css button{
    padding: 20px;
    color: white;
    background-color: gray;
    border:none;
    border-radius: 11px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

}
.buttons-css button:hover{
    border: 2px black solid;
}

p{
    text-align: center;
    font-size: 20px;
    border: 2px solid;
    
}
